.post{
    margin: 10px auto;
    max-width: 700px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: left;
}

.post-body {
    padding: 10px;
}

.user-data{
    display: flex;
    align-items: center;
}

.user-photo{
    width: 40px;
    height: 40px;
}

.user-name{
    margin-left: 5px;
}

.post-content{
    font-size: 24px;
}

.post-date,
.post-likes{
    color: slategray;
}

.bold{
    color: #000;
    font-weight: 600;
}


.deleteConfirmation{
    position: fixed;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.deleteConfirmation .yes{
    background-color: green;
    margin: 5px;
}
.deleteConfirmation .no{
    background-color: red;
    margin: 5px;
}

