*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

a{
  color: black;
}

button,
.btn {
  font-size: 15px;
  padding: 10px;
  margin: 10px 5px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
